<% if session[:user_id] %>
  <%= form_for(:search, url: search_path, method: :get) do |form| %>
    <%= form.text_field :term %>
    <%= form.submit "Search" %>
  <% end %>
<section class="clearfix thumbgallery full_column">
  <% @photos.each do |image| %>
    <article class="image one_fourth">
      <a href="/images/<%= image.id %>" class="single-image">
        <img src="<%= image.url %>"/>
      </a>
    </article>
  <% end %>
</section>
<% else %>
<section class="clearfix">
  <article class="full_column">
    <h1 id="color-magic">Luke McComb</h1>
    <p>Register with your email or log in as user@example.com / Password: password</p>
  </article>
</section>
<% end %>