<div class="search">
  <%= form_for(:search, url: search_path, method: :get) do |form| %>
    <%= form.text_field :term, placeholder: "Enter a search term like Colorado or Dog" %>
    <%= form.submit "Search", class: 'search-button', id: 'search-button' %>
  <% end %>
</div>
<section class="clearfix thumbgallery full_column">
<% @photos.each do |image| %>
  <div class="image one_fourth">
    <a href="/images/<%= image.id %>" class="single-image">
      <img src="<%= image.thumb %>"/>
    </a>
  </div>
<% end %>
</section>
