<h1>Image Search</h1>

<%= form_for search_path, method: :get do |f| %>
  <p>
    <%= f.label "Search for" %>
    <%= f.text_field :query %>
    <%= f.submit "Search" %>
  </p>
<% end %>


<% @images.each do |image| %>
  <article class="image one_fourth">
    <a href="/images/<%= image.id %>" class="single-image">
      <img src="<%= image.url %>"/>
    </a>
  </article>
<% end %>