<div class="search">
  <%= form_for(:search, url: search_path, method: :get) do |form| %>
    <%= form.text_field :term, placeholder: "Enter a search term like Colorado or Dog" %>
    <%= form.submit "Search", class: 'search-button', id: 'search-button' %>
  <% end %>
</div>
<h2><%= @search.term %></h2>
<%= render @search.images %>
