<div class="singleImageWrapper">
  <div class="row">
    <div class="col-sm-3">
      <div class="imageInfo">
        <h1 class="imageTitle">Title: <%= @image.title %></h1>
        <% if @keywords != "{}" %>
          <h3 class="imageKeywords">Keywords:</h3>
          <ul class="keywords">
          <% @keywords.each do |keyword| %>
            <li><%= keyword %></li>
          <% end %>
          </ul>
          <hr/>
        <% end %>
        <% if current_user && current_user.admin? %>
          <div class="add-keywords">
            <h3>Add Keywords</h3>
            <%= form_for @image, method: :put do |form| %>
              <%= form.text_field :keywords, value: "", placeholder: "Add keywords separated by commas", class: 'textInput' %>
              <br/>
              <%= form.submit 'Add keywords', class: 'btn' %>
            <% end %>
          </div>
        <% end %>
        <% if current_user != nil %>
          <div class="favorite-wrapper">
            <% if @favorite.length > 0 %>
              <div class="favoriting">
                <%= form_for image_favorite_path(@image, current_user), :method => :delete, :html => { :class => "favorited" } do |favorite| %>
                  <%= favorite.button '', class: "glyphicon glyphicon-star", :style => "color: yellow; border: none; background-color: transparent; font-size: 3rem;" %>
                <% end %>
                <%= render "favorite_count" %>
              </div>
            <% else %>
              <div class="favoriting">
                <%= form_for [@image, @new_favorite], html: { method: :create} do |favorite| %>
                  <%= favorite.button '', class: "glyphicon glyphicon-star", :style => "color: gray; border: none; background-color: transparent; font-size: 3rem;" %>
                <% end %>
                <%= render "favorite_count" %>
              </div>
            <% end %>
          </div>
        <% end %>
        <% if @image.comments.size > 0 && current_user %>
          <div class="comments-wrapper">
            <h5>Comments</h5>
            <% @comments.each do |comment| %>
              <div class="comment-card">
                <p class="comment"><%= comment[:comment] %></p>
                <p class="comment-created">By <%= comment.user.email %></p>
                <p class="comment-created">on <%= comment[:created_at].asctime %></p>
                <% if comment.user_id == current_user.id %>
                  <%= link_to "", edit_image_comment_path(@image, comment.id), method: :get, class: "glyphicon glyphicon-pencil" %>
                  <%= button_to "", image_comment_path(@image, comment.id), method: :delete, class: "glyphicon glyphicon-remove" %>
                <% end %>
              </div>
              <hr/>
            <% end %>
          </div>
        <% else %>
        <p>No Comments yet!</p>
        <% end %>
        <% if current_user %>
          <div class="comment-form">
            <%= form_for [@image, @new_comment] do |form| %>
              <br/>
              <%= form.text_area :comment, :placeholder => "Type comment here...", :class => "textInput" %>
              <br/><br/>
              <%= form.submit :class => 'comment-submit btn' %>
            <% end %>
          </div>
        <% end %>
        <% unless current_user %>
          <p><a href="#" data-toggle="modal" data-target=".register-form">Register</a> & <a href="#" data-toggle="modal" data-target=".login-form">login</a> to favorite and comment</p>
        <% end %>
      </div>
    </div>
    <div class="col-sm-8 col-sm-offset-1">
      <img src="<%= @image.url %>" alt="" class="singleImageView"/>
    </div>
  </div>
</div>
