<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "Luke McComb", root_path, class: 'navbar-brand' %>
    </div>
    <ul class="nav navbar-nav navbar-left">
      <li><%= link_to "Photography", "/grid", class: [] %></li>
      <li>
        <%= bootstrap_form_for(:search, url: search_path, method: :get) do |form| %>
        <%= form.text_field :term,
          hide_label: true,
          placeholder: "Search for...",
          wrapper: { class: 'margin_bottom-0'},
          class: [
            "form-control",
            "bg_transparent",
            "input_minimal",
            "boxShadow_minimal",
            "margin_top-0",
            "margin_bottom-0"
          ],
          icon: "search" %>
        <% end %>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <%= link_to "https://twitter.com/lukemccomb", target: "_blank", class: 'link_thin' do %>
          <%= image_tag "twitterlogo.png", class: 'header-logo' %>
        <% end %>
      </li>
      <li>
        <%= link_to "https://github.com/lukemccomb", target: "_blank", class: 'link_thin' do %>
          <%= image_tag "githublogo.png", class: 'header-logo' %>
        <% end %>
      </li>
      <li>
        <%= link_to "http://instagram.com/lukeyluuke", target: "_blank", class: 'link_thin' do %>
          <%= image_tag "instalogo.png", class: 'header-logo' %>
        <% end %>
      </li>
      <li>
        <%= link_to "http://soundcloud.com/eluketronic/", target: "_blank", class: 'link_thin' do %>
          <%= image_tag "soundcloudlogo.png", class: 'header-logo' %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
