<a class="login">Log In</a>
<a class="reg">Register</a>
<section class="clearfix">
  <article class="one_third reg_form">
    <%= form_for @user, url: register_path, html: { class: "register-form" } do |f| %>
      <div>
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true %>
      </div>
      <div>
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>
      <div>
        <%= f.submit "Register", class: 'reg-btn' %>
      </div>
    <% end %>
  </article>
</section>
<section class="clearfix">
  <article class="one_third login_form">
    <%= form_for @user, url: signin_path, html: { class: "signin-form" } do |f| %>
      <div>
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true %>
      </div>
      <div>
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>
      <div>
        <%= f.submit "Login", class: 'login-btn' %>
      </div>
    <% end %>
  </article>
</section>