<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lukefolio</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <link rel="shortcut icon" href="http://lukemccomb.com/images/favicon.ico">
  </head>
<body class="body">
  <header class="header">
    <div class="container">
      <div class="row">
        <div class="col-sm-1">
          <button data-toggle="dropdown" class="btn btn-nav">Menu</button>
          <nav class="dropdown-menu nav">
            <% if current_user %>
              <%= link_to "Dashboard", user_path(current_user.id) %>
              <br/>
            <% end %>
            <%= link_to "Blog", "http://lukemcblog.com", :target => "_blank", class: 'nav-item' %>
            <%= link_to "Info", "/info", class: 'nav-item' %>
          </nav>
        </div>
        <div class="col-sm-2 col-sm-offset-4 lm-logo-wrapper">
          <a href="/"><%= image_tag "full-black.png", class: 'site_logo' %></a>
        </div>
        <div class="col-sm-3 col-sm-offset-2">
          <div class="session-actions">
            <% if current_user %>
              <%= render partial: "main/signed_in" %>
            <% else %>
              <%= render partial: "main/signed_out" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </header>

  <% if flash[:register_notice] %>
    <p class="flash"><%= flash[:register_notice] %></p>
  <% end %>
  <% if flash[:reg_fail] %>
    <p class="flash"><%= flash[:reg_fail] %></p>
  <% end %>
  <% if flash[:login_fail] %>
    <p class="flash"><%= flash[:login_fail] %></p>
  <% end %>
  <div class="wrapper">
    <% if @user %>
      <% @user.errors.full_messages.each do |error| %>
        <div class="errors">
          <%= error %>
        </div>
      <% end %>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
    <footer class="footer">
      <a href="https://twitter.com/lukemccomb" target="_blank"><%= image_tag "twitterlogo.png", class: 'footer-logo' %></a>
      <a href="https://github.com/lukemccomb" target="_blank"><%= image_tag "githublogo.png", class: 'footer-logo' %></a>
      <a href="http://lukemcblog.com/" target="_blank"><%= image_tag "tumblrlogo.png", class: 'footer-logo' %></a>
      <a href="http://instagram.com/mcluukin" target="_blank"><%= image_tag "instalogo.png", class: 'footer-logo' %></a>
      <a href="http://soundcloud.com/eluketronic/" target="_blank"><%= image_tag "soundcloudlogo.png", class: 'footer-logo' %></a>
    </footer>
  </div>
  </body>
</html>
