<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lukefolio</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <link rel="shortcut icon" href="http://lukemccomb.com/images/favicon.ico">
  </head>
  <body class="body">
    <%= render partial: "layouts/header" %>
    <div class="container-fluid padding-all-0">
      <%= yield %>
    </div>
    <%= render partial: "layouts/footer" %>
  </body>
</html>
